MONGO_URI=Your_MongoDB_URI_here
PORT=Your_port_number_here
CLOUDINARY_CLOUD_NAME=Your_Cloudinary_cloud_name_here
CLOUDINARY_API_KEY=Your_cloudinary_api_key
CLOUDINARY_API_SECRET=Your_cloudinary_secret_key
SUPER_ADMIN_PHONES=
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
SMTP_FROM="Stamp2Fly <no-reply@stamp2fly.com>"
CONTACT_RECEIVER_EMAIL=visa@stamp2fly.com

